$primary: #ff3353;
$secondary: #2ecc71;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

@import "node_modules/bootstrap/scss/bootstrap.scss";

// Buttons

.btn-secondary {
  color: white;
}
.btn-secondary:hover {
  color: white;
}
.btn-outline-secondary:hover {
  color: white;
}

// Forms

.form-control:focus {
  border-color: $primary
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}